@model IEnumerable<jubileeReach.Models.PRODUCT_CATEGORY_SIZES_IMAGES>

@{
    ViewBag.Title = "Men List";
}

@*<link href="~/css/JRItemListPageStyle.css" rel="stylesheet" type="text/css">*@
<link href="~/Content/JRItemListPageStyle.css" rel="stylesheet" type="text/css" />


<DropDownList ID="image" runat="server" AppendDataBoundItems="true" AutoPostBack="true" OnSelectedIndexChanged="FetchImage">
    <asp:ListItem Text="Select Image" Value="0" />
</DropDownList>
<hr />
<asp:Image ID="Image1" runat="server" Visible="false" />

@*<img runat="server" id="image" />*@


<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <br><h1 class="text-muted bread-crumb"> SHOP </h1>
        <h1 class="bread-crumb2">/ MEN /<a asp-action="MensList" asp-route-sortOrder="@ViewBag.SalePriceSortParm">@Html.DisplayNameFor(model => model.SALE_PRICE)</a></h1>
        @*{int counter = 0;
                @foreach (var item in Model){
                    counter++;
                }

            } while (index < counter)
                {*@
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 image1">
                    <a href="@Url.Action("productDetail", "Home", new { id = item.PRODUCTID })"><img src="data:image;base64,@System.Convert.ToBase64String(item.IMG1)" class="img-responsive"> </a> 
                    <div class="Brand">
                        @Html.DisplayFor(modelItem => item.BRAND)
                    </div>

                    <div class="Name"> @Html.DisplayFor(modelItem => item.CAT_NAME) </div>

                    <div class="Size">
                        @Html.DisplayFor(modelItem => item.SIZE)
                    </div>

                    <div class="Price">
                        @Html.DisplayFor(modelItem => item.SALE_PRICE)
                    </div>
                </div>
            }
        </div>
    </div>
</div>